<header>
  <h1>{{ title }}</h1>
  <a href="/">Weather</a>
  <a href="/about">About</a>
  <a href="/help">Help</a>
  <a href="/help/error">Help Error</a>
  <a href="/error">General Error</a>
  <a href="/products">Products</a>
  <a href="/weather">Weather</a>
</header>